body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#main {
  height:100vh;
  width: 100vw;
}

.unselectable {
  -webkit-user-drag: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.now-playing-song-name {
  font-size: 36px;
  height: 40px;
}

.now-playing-song-time {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 500px;
}

.now-playing-label {
  font-weight: bold;
}

.now-playing-song-label {
  color: gray;
  /*font-size: 28px;*/
}

.game-editor {
  width: 500px;
  height: 500px;
  box-shadow: 0 0 1px black;
  border-radius: 4px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-scrub-container {
  position: relative;
  height: 10px;
  width: 400px;
  border-radius: 10px;
  background-color: lightgray;
  box-shadow: 0 0 1px black;
}

.time-scrub {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(0, 122, 255);
  box-shadow: 0 0 1px black;
}

.frame-count {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.note-track {
  height: 100%;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-left: 30px;
  position: relative;
  overflow: hidden;
}

.note-track:first-child {
  margin-left: 0;
}

.note-container {
  position: absolute;
  top: -100px;
  left: 14px;
}
/*
.note-container.missed-note {
  background-color: red;
}

.note-container.hit-note-perfect {
  background-color: green;
}

.note-container.hit-note {
  background-color: lightgreen;
}*/

.note {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0 0 2px white;
  margin: 30px 0;
}

.note-container.checked-note.missed-note .note {
  background-color: rgba(255,255,255,0.3);
}

.note-container.checked-note.hit-note-perfect .note,
.note-container.checked-note.hit-note .note {
  background-color: white;
  animation: success-note 0.3s forwards 1;
}

@keyframes success-note {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hit-note-location {
  position: absolute;
  bottom: 40px;
  left: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid white;
}

.hit-note-location-pulse {
  width: 60px;
  height: 60px;
  left: -6px;
  top: -6px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.6);
  position: absolute;
  opacity: 1;
  animation: pulse 0.4s linear;
}

.hit-note-location-pulse.perfect {
  border-color: #98FB98;
}

.hit-note-location-pulse.good {
  border-color: yellow;
}

.hit-note-location-pulse.miss {
  border-color: red;
}

@keyframes pulse {
  0% {
    opacity: 0;
    width: 36px;
    height: 36px;
  }
  1% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 60px;
    height: 60px;
    left: -18px;
    top: -18px;
  }
}

.track-1 {
  border-left: 3px solid;
  border-right: 3px solid;
  border-color: #00B300;
}

.track-2 {
  border-left: 3px solid;
  border-right: 3px solid;
  border-color: #FF4D4D;
}

.track-3 {
  border-left: 3px solid;
  border-right: 3px solid;
  border-color: #cccc22;
}

.track-4 {
  border-left: 3px solid;
  border-right: 3px solid;
  border-color: #0080FF;
}

.track-1 .note {
  background-color: #00B300; /* light-green */
}

.track-2 .note {
  background-color: #FF4D4D; /* light-red */
}

.track-3 .note {
  background-color: #cccc22; /* yellow */
}

.track-4 .note {
  background-color: #0080FF; /* blue */
}

.track-1 .active-key.hit-note-location {
  box-shadow: 0 0 8px #00B300;
  border-color: #00B300;
  /* rgba(0,179,0,0.5) */
}

.track-2 .active-key.hit-note-location {
  box-shadow: 0 0 8px #FF4D4D;
  border-color: #FF4D4D;
  /* rgba(255,77,77,0.5) */
}

.track-3 .active-key.hit-note-location {
  box-shadow: 0 0 8px #cccc22;
  border-color: #cccc22;
  /* rgba(204,204,34,0.5) */
}

.track-4 .active-key.hit-note-location {
  box-shadow: 0 0 8px #0080FF;
  border-color: #0080FF;
  /* rgba(0,128,255,0.5) */
}

.buttons {
  display: flex;
}

.button {
  padding: 10px;
  background-color: lightgray;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 20px;
}

.button:first-child {
  margin-left: 0;
}

.button:hover {
  background-color: gray;
}
